/*
   CSS styling examples for the Vaadin app.

   This is the style entrypoint for the theme and together with css in ./components/ included
   automatically into the theme.

   Visit https://vaadin.com/docs-beta/latest/theming/application-theme/ for more information.
*/

/* Locations */
.location-view {
  background-color: #F5F5F5;
}

.custom-grid-header::part(header-cell) {
  text-align:center;
  font-size:large;
  padding:5px;
  background-color: #2396F3;
  color: whitesmoke;
}

.custom-grid-header {
  height: 700px;
}

.search-form {
  width: 100%;
  padding: 0;
  background-color: #2396F3;
}

.search-form::content(vaadin-text-field) {
  width: 100%;
  background-color: #2396F3;
}

.top-layout {
  padding: 20px;
  background-color: #2396F3;
}

.logo {
  color: #FFFFFF;
  font-weight: bold;
  font-size:30px;
}

.app-logo {
  width: 500px;
  background-color: #2396F3;
}

.clickable-link-text {
  align-items: center;
  color: #3c91e6;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 18px;
}

/* Weather Preview */


.city-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.measurements {
  margin-top: 10px;
}

.current-weather {
  margin-top: 20px;
}

.week-forecast {
  margin-top: 20px;
}

.side-info {
  list-style: none;
  padding: 0;
}

.footer {
  margin-top: 20px;
  text-align: center;
}
